body{
    background-image: url(images/bg1.jpg);
    no-repeat center center fixed;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
div{
    background-color:#dd4814;
    margin: 0 auto;
    margin-left: 100px auto;
    border-radius: 25px;
    width:50%;
    text-align: center;
    opacity: 0.7;
    font-style: italic;
}
h1{
    font-size: 4em;
}
button{
    background: rgb(50, 50,50);
    border-radius: 50px;
    color:white;
    border-radius: 2em;
    font-size: 1.5em;
}
p{
    font-size:2em;
}

i{
    font-size: 4em;
    color:white
}